spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:postgresql://localhost:5433/university_lecturer_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true

  docker:
    compose:
      enabled: true