spring:
  application:
    name: UniversityLecturer

  profiles:
    active: local
    default: local

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    locations: classpath:db/migration
    enabled: true