<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель для работы с преподавателями</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="window">
    <div class="window-header">
        Администратор
    </div>
    <div class="window-header">
        Панель для работы с преподавателями
    </div>
    <div class="window-body">

        <a th:href="@{/admin/teachers-panel/add_teacher_panel}" class="button">
            Добавить преподавателя
        </a>
        <a th:href="@{/admin/teachers-panel/change_teacher_panel}" class="button">
            Изменить данные преподавателя
        </a>
        <a th:href="@{/admin/teachers-panel/delete_teacher_panel}" class="button">
            Удалить преподавателя
        </a>
        <a th:href="@{/admin/teachers-panel/find_teacher_by_fullname_panel}" class="button">
            Найти преподавателя по ФИО
        </a>
        <a th:href="@{/admin/teachers-panel/find_teachers_panel}" class="button">
            Вывести всех преподавателей
        </a>
    </div>
</div>
</body>
</html>