<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель для работы с преподавателями</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="window">
    <div class="window-header">
        Администратор
    </div>
    <div class="window-header">
        Панель для работы с преподавателями
    </div>
    <div class="window-body">
        <button class="button">Добавить преподавателя</button>
        <button class="button">Изменить данные преподавателя</button>
        <button class="button">Удалить преподавателя</button>
        <button class="button">Найти преподавателя по ФИО</button>
        <button class="button">Вывести всех преподавателей</button>
    </div>
</div>
</body>
</html>