<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель для работы с пользователями</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="window">
    <div class="window-header">
        Администратор
    </div>
    <div class="window-header">
        Панель для работы с пользователями
    </div>
    <div class="window-body">
        <button class="button">Удалить пользователя</button>
        <button class="button">Поменять роль пользователя</button>
        <button class="button">Найти пользователя по email</button>
        <button class="button">Вывести всех пользователей</button>
    </div>
</div>
</body>
</html>