<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель для работы с пользователями</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="window">
    <div class="window-header">
        Администратор
    </div>
    <div class="window-header">
        Панель для работы с пользователями
    </div>
    <div class="window-body">
        <a th:href="@{/admin/users/delete_user_panel}" class="button">
            Удалить пользователя
        </a>
        <a th:href="@{/admin/users/change_user_role_panel}" class="button">
            Поменять роль пользователя
        </a>
        <a th:href="@{/admin/users/find_user_by_email_panel}" class="button">
            Найти пользователя по email
        </a>
        <a th:href="@{/admin/users/list}" class="button">
            Вывести всех пользователей
        </a>
    </div>
</div>
</body>
</html>