<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование преподавателя</title>
    <link rel="stylesheet" th:href="@{/search-style.css}">
    <link rel="stylesheet" href="/static/search-style.css">
</head>
<body>
<div class="search-container">
    <h2>Редактировать преподавателя</h2>
<form th:action="@{/admin/teachers-panel/{id}/update(id=${teacher.id})}"
      method="post"
      th:object="${teacher}">

    <div class="input-group">
        <label>Фамилия</label>
        <input type="text" th:field="*{lastName}" placeholder="фамилия">
    </div>

    <div class="input-group">
        <label>Имя</label>
        <input type="text" th:field="*{firstName}" placeholder="имя">
    </div>

    <div class="input-group">
        <label>Отчество</label>
        <input type="text" th:field="*{patronymic}" placeholder="отчество">
    </div>

    <div class="input-group">
        <label>Кафедра</label>
        <input type="text" th:field="*{department}" placeholder="кафедра">
    </div>
    <button type="submit">Сохранить</button>
</form>
</div>
</body>
</html>